@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgb(30 41 59);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(162, 162, 162);
  border-radius: 9999px;
}
.menu li.bordered a {
  @apply border-0 border-r-4;
}
.menu li.hover-bordered a {
  @apply border-0 border-r-4 border-transparent;
}

.gradient-card {
  @apply rounded-2xl border-2 border-primary/10 bg-gradient-to-br from-base-content/20 via-base-content/10 to-white/0 shadow-lg transition-all duration-200  hover:border-primary/50 hover:shadow-xl;
}
