# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: 16.x

    steps:
    - uses: actions/checkout@v3
    - uses: borales/actions-yarn@v3.0.0
      cmd: install # will run `yarn install` command
      cmd: build # will run `yarn build` command
      cmd: test # will run `yarn test` command
